---
const demographic_parameters = {
  "ageSex": [
    "Male 18-24",
    "Male 25-34",
    "Male 35-44",
    "Male 45-54",
    "Male 55-64",
    "Male 65 and over",
    "Female 18-24",
    "Female 25-34",
    "Female 35-44",
    "Female 45-54",
    "Female 55-64",
    "Female 65 and over"
  ],
  "maritalStatus": [
    "Single",
    "In a relationship",
    "Married",
    "Separated",
    "Divorced",
    "Widowed"
  ],
  "parentalStatus": [
    "No children",
    "Children under 18",
    "Adult children",
    "Both minor and adult children"
  ]
}
---

<div class="bg-transparent-1 md:border-2 sm:border-0 border-gray-300 md:rounded-lg sm:m-0 sm: p-4 md:m-8 md:p-8  primary-input">
    <div class="flex flex-wrap justify-center">
          <div class="h-10 flex justify-center w-full text-xl">I am a...</div>
        <div>
          
        <div class="m-2 border-2 p-2 border-[--subtle-edge]">
            <label class="sr-only" for="marital-status">
                Marital Status
              </label>
            <select
                aria-label="Marital Status"
                id="marital-status"
                class="bg-transparent font-bold text-xl m-1 text-center text-align-last text-[--secondary-text-color] transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
            >
                {demographic_parameters.maritalStatus.map(status => {
                    if (status === "In a relationship") {
                        return <option value={status}>Committed</option>
                    }
                    else return <option value={status}>{status}</option>
                })}
            </select>
        </div>
        </div>
        <div>
            <!-- <div class="h-10 flex items-center ml-4 mr-4 text-xl">and a</div> -->
            <div class="m-2 border-2 p-2 border-[--subtle-edge]">
            <label class="sr-only" for="age-sex">
                Age/Sex
                </label>
            <select
                aria-label="Age/Sex"
                class="bg-transparent font-bold text-xl m-1 text-center text-align-last text-[--secondary-text-color] transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
                id="age-sex"
                >
                {demographic_parameters.ageSex.map(status => {
                    return <option value={status}>{status}</option>
                })}
            </select>
        </div>
        </div>
        <div>
            <div class="m-2 border-2 p-2 border-[--subtle-edge]">
                <label class="sr-only" for="parental-status">Parental Status</label>
                <select
                    id="parental-status"
                    aria-label="Parental Status"
                    class="bg-transparent font-bold text-xl m-1 text-center text-align-last text-[--secondary-text-color] transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
                >
                {demographic_parameters.parentalStatus.map(status => {
                    if (status === "Both minor and adult children") {
                        return <option value={status}>With Minor & Adult Children</option>
                    }
                    else return <option value={status}>{`With ${status.replace(/\b\w/g, (c) => c.toUpperCase())}`}</option>
                })}
                </select>
            </div>
        </div>
        </div>
    <button onclick="navigateToExamination()" id="personalize-submit" class="bg-[--primary-click] text-white hover:bg-pink-600 focus:bg-pink-500 rounded-lg p-2 mt-4 w-full">Get My Examination</button>
    <script is:inline>
        function navigateToExamination() {
          // Get values from select elements
          const ageSexElement = document.getElementById('age-sex');
          const ageSex = ageSexElement ? ageSexElement.value : '';
          const maritalStatusElement = document.getElementById('marital-status');
          const maritalStatus = maritalStatusElement ? maritalStatusElement.value : '';
          const parentalStatusElement = document.getElementById('parental-status');
          const parentalStatus = parentalStatusElement ? parentalStatusElement.value : '';
          
          // Construct the URL
          const path = `${ageSex}-${maritalStatus}-${parentalStatus}`.split(' ').join('-').toLowerCase();
          const url = `./examinations/${path}`;
          
          // Navigate to the constructed URL
          window.location.href = url;
        }
        </script>
</div>
