---
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import Logo from "@/components/Logo.astro";
interface Props {
	title: string;
	description: string;
	image?: string;
	canonicalURL?: string;
	lastUpdated?: string;
	type?: "website" | "article";
	reader?: boolean;
	stickyFooter?: boolean;
	updated?: string;
}

const {
	title,
	description,
	image = "../../ue-social.jpg",
	canonicalURL,
	type = "website",
	lastUpdated,
	reader = false,
	stickyFooter = false,
	updated = new Date().toISOString(),
} = Astro.props;

// Fallback for canonicalURL if not provided
const siteURL = Astro.site
	? new URL(Astro.url.pathname, Astro.site)
	: Astro.url;
const finalCanonicalURL = canonicalURL || siteURL.href;

// 
const footerClass = `${stickyFooter? "fixed":"relative"} bottom-0 bg-[--background] flex flex-col items-center w-full min-h-12 border-gray-800 border-t-2 mt-8`
const devMode = import.meta.env.DEV;

---
<html lang="en">
<meta name="last-modified" content={lastUpdated} />

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet"
/>
		<meta name="generator" content={Astro.generator} />

		<!-- SEO Meta Tags -->
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
		<meta property="article:modified_time" content={updated}>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content={type} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />

		<!-- Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- View Transitions -->
		<ViewTransitions />
		{!devMode && <script defer src="https://workers.unumexamen.com/script.js" data-website-id="bc790383-ce63-4879-821d-609367c7ff19"> </script> }
		<script defer>
			!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
			},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
			a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
			twq('config','ouu3v');
			</script>
	</head>
		

		<body>
			<main>
			<nav class="flex h-20 p-6 justify-between items-center">
				<div class="w-72">
					<a class="m-0 p-0" title="Unum Examen home" href="/">
						<div class="m-0 p-0">
							<Logo />
						</div>
					</a>
				</div>
				<a href="https://x.com/unumexamen" class="flex items-center justify-center p-6 text-white" target="_blank">
					<div>
						<svg width="20" height="20" viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="white"/>
							</svg>
							
					</div>
				</a>		
			</nav>
				{reader?
				<div class="m-16 p-4 leading-relaxed reader">
						<slot />
				</div>
			
				:
				<slot />
			     }
			<footer class={footerClass} >
			<div class="flex flex-wrap justify-center max-w-[750px]">
				<a href="/newsletter/" class="flex justify-center p-6 text-white">join newsletter</a>
				<a href="/roadmap/" class="flex justify-center p-6 text-white">roadmap</a>
				<a href="/privacy/" class="flex justify-center p-6 text-white">privacy</a>
				<a href="/terms-of-service/" class="flex justify-center p-6 text-white">terms of service</a>
				<a href="https://forms.gle/xwE1MAhu5gPa1y2r9" target="_blank" class="flex justify-center p-6 text-white">contact</a>
			</div>
				<div class="flex justify-center w-full p-6 mt-1">
					<p class="text-white text-center text-xs">
						© {new Date().getFullYear()} Unum Examen. All rights reserved.
					</p>
				</div>
			</div>
			</footer>
		</main>
		</body>

		</html>
