---
import '@/styles/globals.css'
import { ViewTransitions } from 'astro:transitions';
import Logo from "@/components/Logo.astro";
interface Props {
	title: string;
	description: string;
	image?: string;
	canonicalURL?: string;
	lastUpdated?: string;
	type?: 'website' | 'article';
}

const {
	title,
	description,
	image = '/default-og-image.png',
	canonicalURL,
	type = 'website',
	lastUpdated,
} = Astro.props;

// Fallback for canonicalURL if not provided
const siteURL = Astro.site ? new URL(Astro.url.pathname, Astro.site) : Astro.url;
const finalCanonicalURL = canonicalURL || siteURL.href;
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<meta name="last-modified" content={lastUpdated}>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- SEO Meta Tags -->
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content={type} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />
		
		<!-- Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		
		<!-- View Transitions -->
		<ViewTransitions />
	</head>
    <script defer src="https://analytics.us.umami.is/script.js" data-website-id="bc790383-ce63-4879-821d-609367c7ff19"></script>
	<main>
		<div class="w-full mt-24 mb-4 flex items-center justify-center">
			<div class="w-3/4 items-center justify-center">
				<a href="/">
					<div>
						<Logo />
					</div>
				</a>
				<p class="text-center text-xl my-6 text-gray-600">
					The ultimate Catholic Examination of conscience.
				</p>
			</div>
		</div>
		<body>
			<slot />
		</body>
	</main>
	
</html>